<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p *ngIf="status == 'error'" class="alert alert-danger">No se ha podido registrar el usuario. Por favor inténtalo de nuevo.</p>
    <p *ngIf="status != 'success'">Regístrate para tener acceso a la publicación de entradas!!!</p>
    <p *ngIf="status == 'success'" class="alert alert-success">El usuario ha sido registrado correctamente. <a [routerLink]="['/login']">Ingresa por aquí</a></p>

    <form class="col-md-8" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es válido</small>
        </div>
        <div class="form-group">
            <label for="surname">Apellido</label>
            <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+">
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">El apellido no es válido</small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El email no es válido</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" autocomplete="new-password" #password="ngModel" [(ngModel)]="user.password" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">La contraseña no es válida. Por favor incluya mínimo 6 caracteres con almenos 1 minúscula, 1 mayúscula y 1 número.</small>
        </div>
        <input type="submit" value="Registrarme" class="btn btn-success" [disabled]="registerForm.invalid" />
    </form>
</div>