<div *ngIf="!post" class="col-md-12 mt-3">
</div>
<div *ngIf="post" class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p *ngIf="status == 'error'" class="alert alert-danger">No se ha podido actualizar la entrada. Por favor inténtalo de nuevo.</p>
    <p *ngIf="status != 'success'">Actualiza la información de la entrada del blog!.</p>
    <p *ngIf="status == 'success'" class="alert alert-success">La entrada al blog ha sido actualizada correctamente.</p>

    <form class="col-md-5" #postEditForm="ngForm" (ngSubmit)="onSubmit(postEditForm)">
        <div class="form-group">
            <label for="title">Entrada</label>
            <input type="text" name="title" class="form-control" #title="ngModel" [(ngModel)]="post.title" required />
            <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">El título no es válido</small>
        </div>
        <div class="form-group">
            <label for="content">Contenido</label>
            <textarea [froalaEditor]="froala_options" name="content" class="form-control" #content="ngModel" [(ngModel)]="post.content" [(froalaModel)]="post.content" required></textarea>
            <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">El contenido no es válido</small>
        </div>
        <div class="form-group">
            <label for="category_id">Categoría</label>
            <select name="category_id" class="form-control" #category="ngModel" [(ngModel)]="post.category_id">
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
                <label for="image">Imagen</label>
                <div *ngIf="post && post.image">
                    <img src="{{ url + 'post/image/' + post.image }}" class="image-post-edit">
                </div>
                <angular-file-uploader
                    [config]="afuConfig"
                    [resetUpload]=resetVar
                    (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>
            </div>
        <input type="submit" value="Guardar entrada" class="btn btn-success" [disabled]="postEditForm.invalid">
    </form>
</div>