<div class="card-columns" *ngIf="posts && posts.length >= 1">
    <article class="card w-100" *ngFor="let post of posts">
        <div class="card-header">
            <h3>
                <a [routerLink]="['/entrada', post.id]">{{ post.title }}</a>
            </h3>
        </div>
        <div class="card-body">
            <!--imagenes-->
            <div class="post-image w-100" *ngIf="!post.image">
                <img src="assets/images/body/default.png" class="w-100" />
            </div>
            <div class="post-image w-100" *ngIf="post.image">
                <img src="{{ url + 'post/image/' + post.image }}" class="w-100" />
            </div>
            <!--botones de acción-->
            <div class="post-button mt-3">
                <a class="btn btn-primary mr-2" [routerLink]="['/entrada', post.id]">Ver</a>
                <span *ngIf="identity && (identity.sub==post.user_id || identity.role=='ROLE-ADMIN')">
                    <a class="btn btn-secondary mr-2" [routerLink]="['/editar-entrada/', post.id]">Editar</a>
                    <modal-confirm-delete
                        [element_id]    =   "post.id"
                        [modal_title]   =   "'Confimar borrado de entrada'"
                        [modal_body]    =   "'Está seguro de querer borrar permanentemente la entrada: ' + post.title + '. Esta acción no tendrá retroceso.'"
                        (deleteElement) =   "sendDeleteElement($event)"
                    ></modal-confirm-delete>
                </span>                    
            </div>
        </div>

    </article>
</div>
