<div class="col-md-12 mt-3">
        <h1>{{page_title}}</h1>
        <p *ngIf="status == 'error'" class="alert alert-danger">No se ha podido registrar la categoría. Por favor inténtalo de nuevo.</p>
        <p *ngIf="status != 'success'">Crea una nueva categoría para el blog.</p>
        <p *ngIf="status == 'success'" class="alert alert-success">La categoría ha sido registrada correctamente.</p>
    
        <form class="col-md-8" #categoryNewForm="ngForm" (ngSubmit)="onSubmit(categoryNewForm)">
            <div class="form-group">
                <label for="name">Categoría</label>
                <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="category.name" required />
                <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es válido</small>
            </div>
            <input type="submit" value="Guardar categoría" class="btn btn-success" [disabled]="categoryNewForm.invalid" />
        </form>
    </div>