<div class="loading" *ngIf="!posts">Cargando...</div>

<div class="container-fluid" *ngIf="posts">
    <hr />
    <h1>{{page_title}}</h1>
    <hr />

    <!--Componente lista de entradas-->
    <post-list
        [posts]="posts"
        [identity]="identity"
        [url]="url"
        (deleteElement)="onDeletePost($event)"
        ></post-list>
    
</div>
