<div *ngIf="!post">
    Cargando...
</div>
<div *ngIf="post" class="post-show ml-5 mr-5">

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{ post.title }}
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="https://learning.darumasoftware.com">Learning</a></li>
      <li class="breadcrumb-item"><a href="https://learning.darumasoftware.com/program/{{ myprogram }}">MiPrograma</a></li>
      <li class="breadcrumb-item"><a href="https://learning.darumasoftware.com/course/{{ mycourse }}">MiCurso</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/inicio']">MyBlog</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/categoria/', post.category.id]">{{ post.category.name }}</a></li>
      <li class="breadcrumb-item active">{{ post.title }}</li>
    </ol>

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <!-- Blog Post -->
        <div class="card mb-4">
          <img *ngIf="post.image" class="card-img-top" src="{{ url + 'post/image/' + post.image }}" alt="Card image cap">
          <div class="card-body">
            
            <p [innerHtml]="post.content" class="card-text"></p>

            <span *ngIf="identity && identity.sub==post.user_id">
              <a class="btn btn-warning mr-2" [routerLink]="['/editar-entrada/', post.id]">Editar</a>
              <modal-confirm-delete
                [element_id]    =   "post.id"
                [modal_title]   =   "'Confimar borrado de entrada'"
                [modal_body]    =   "'Está seguro de querer borrar permanentemente la entrada: ' + post.title + '. Esta acción no tendrá retroceso.'"
                (deleteElement) =   "onDeletePost($event)"
              ></modal-confirm-delete>

            </span>
          </div>

          <div class="card-footer text-muted">
            Publicado en {{ post.created_at }} por
            <a [routerLink]="['/perfil/', post.user.id]">{{ post.user.name + ' ' + post.user.surname }}</a>
          </div>
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" (click)="getNextPost('previous')">&larr; Atrás</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="getNextPost('follow')">Adelante &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
