<div class="container"><!--CONTENEDOR PRINCIPAL-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light"><!--BARRA DE NAVEGACIÓN-->
    <img src="assets/images/header/logo_blog.svg" width="30" height="30" alt=""> 
    <a class="navbar-brand" href="#">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link" [routerLink]="['/categoria/', category.id]">{{ category.name }}</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']">Registro</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
        <li *ngIf="identity && identity.image" class="nav-item">
          <div class="avatar-mask">
            <img src="{{ url + 'user/avatar/' + identity.image }}" class="avatar-user-nav">
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ identity.name + ' ' + identity.surname }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/crear-entrada']">Crear entrada</a>
            <a class="dropdown-item" [routerLink]="['/crear-categoria']">Crear categoría</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/perfil/', identity.sub]">Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar sesión</a>
          </div>
        </li>
      </ul>

    </div>
  </nav><!--CIERRE DE BARRA DE NAVEGACION-->


<!--CONTENIDO-->
<router-outlet></router-outlet>

<!--PIE DE PÁGINA-->
<footer>
  <nav class="navbar navbar-dark bg-dark mt-5">
    <!-- Copyright -->
    <span class="navbar-text"> © 2019 Copyright: TiQal SAS</span>
    <span class="nav-link"><a href="https://darumasoftware.com">darumasoftware.com</a></span>
  </nav>
</footer>

</div><!--CIERRE DE CONTENEDOR PRINCIPAL-->
