<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p *ngIf="status == 'error'" class="alert alert-danger">Error de autenticación. Por favor inténtalo de nuevo.</p>
    <p *ngIf="status != 'success'">Identifícate en la plataforma para comenzar!</p>
    <p *ngIf="status == 'success'" class="alert alert-success">Autenticación exitosa. <a [routerLink]="['/post']">Ingresa por aquí</a></p>
    <form class="col-md-8" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El email no es válido</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" autocomplete="new-password" #password="ngModel" [(ngModel)]="user.password" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">La contraseña no es válida. Por favor incluya mínimo 6 caracteres con almenos 1 minúscula, 1 mayúscula y 1 número.</small>
        </div>
        <input type="submit" value="Autenticar" class="btn btn-success" [disabled]="loginForm.invalid" />
    </form>

</div>