<div class="loading" *ngIf="!user">Cargando...</div>

<div class="container-fluid" *ngIf="user">
    <hr />
    <div class="card-user">
        <div class="avatar-mask float-left mr-3">
            <img src="{{ url + 'user/avatar/' + identity.image }}" class="avatar-user-nav">
        </div>
        <div class="data-mask float-left">
            <h1>Perfil de {{ user.name + ' ' + user.surname }}</h1>
            <p [innerHtml]="user.description"></p>
            <p><a href="mailto: {{ user.email }}">{{ user.email }}</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr />

    <div *ngIf="!posts">
        Cargando listado...
    </div>
    <div *ngIf="posts && posts.length == 0">
        <div class="alert alert-warning">No hay entradas en esta categoría.</div>
    </div>

    <!--Componente lista de entradas-->
    <post-list
    [posts]="posts"
    [identity]="identity"
    [url]="url"></post-list>
    
</div>
