<button type="button" class="btn btn-secondary" data-toggle="modal" [attr.data-target]="'#confirmModal' + element_id">
    Borrar
</button>
<div class="modal fade" id="{{ 'confirmModal' + element_id }}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">{{ modal_title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{ modal_body }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-danger mr-2" (click)="sendDeleteElement(element_id)"  data-dismiss="modal">Borrar</a>
        </div>
        </div>
    </div>
</div>
