<div class="loading" *ngIf="!category">Cargando...</div>

<div class="container-fluid" *ngIf="category">
    <hr />
    <h1>{{ category.name }}</h1>
    <hr />

    <div *ngIf="!posts">
        Cargando listado...
    </div>
    <div *ngIf="posts && posts.length == 0">
        <div class="alert alert-warning">No hay entradas en esta categoría.</div>
        <!--Acción de borrar categoría-->
        <div class="category-button mt-3">
            <span *ngIf="identity && identity.role=='ROLE-ADMIN'">
                <button type="button" class="btn btn-secondary" data-toggle="modal" [attr.data-target]="'#myModal' + category.id">
                    Borrar
                </button>
                <div class="modal fade" id="{{ 'myModal' + category.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Confimar borrado de categoría</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Está seguro de querer borrar permanentemente la categoría de entradas al blog "{{ category.name }}". Esta acción no tendrá retroceso.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-danger mr-2" (click)="deleteCategory(category.id)"  data-dismiss="modal">Borrar</a>
                        </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>

    </div>
    
    <!--Componente lista de entradas-->
    <post-list
        [posts]="posts"
        [identity]="identity"
        [url]="url"></post-list>
    
</div>
